@import url("https://fonts.googleapis.com/css?family=Rubik:300,regular,500");
@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700");
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icon.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-comment:before {
  content: "\e901";
}

._icon-facebook:before {
  content: "\e902";
}

._icon-fav:before {
  content: "\e903";
}

._icon-headphones:before {
  content: "\e904";
}

._icon-inst:before {
  content: "\e905";
}

._icon-logo:before {
  content: "\e906";
}

._icon-map:before {
  content: "\e907";
}

._icon-ok:before {
  content: "\e908";
}

._icon-play:before {
  content: "\e909";
}

._icon-search:before {
  content: "\e90a";
}

._icon-star:before {
  content: "\e90b";
}

._icon-twiter:before {
  content: "\e90c";
}

._icon-youtube:before {
  content: "\e90d";
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 16px;
  color: rgb(85, 85, 85);
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Rubik";
  position: relative;
}
body._lock {
  overflow: hidden;
}

[class*=__container] {
  max-width: 1390px;
  padding: 0 20px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.btn {
  color: rgb(174, 118, 255);
  border: 1px solid rgb(174, 118, 255);
  font-weight: 500;
  line-height: 84.2105263158%;
  text-transform: capitalize;
  background-color: inherit;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  padding: 0 30px;
  border-radius: 10px;
  transition: all 300ms ease-in-out;
}
.btn:hover {
  background-color: rgb(174, 118, 255);
  color: rgb(255, 255, 255);
}
.btn:active {
  transform: translate(0, 2px);
}

.text {
  color: rgb(108, 108, 108);
  font-family: Rubik;
  font-size: 16px;
  font-weight: 300;
  line-height: 175%;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 110px;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
@media (max-width: 455px) {
  .header__container {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
}
.header__logo {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.header__logo::before {
  color: rgb(174, 118, 255);
  font-size: 26px;
}
@media (max-width: 600px) {
  .header__logo {
    font-size: 19px;
  }
}
.header__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
@media (max-width: 1350px) {
  .header__actions {
    -moz-column-gap: calc(11px + 14 * (100vw - 320px) / 1030);
         column-gap: calc(11px + 14 * (100vw - 320px) / 1030);
  }
}
.header__search {
  color: #fff;
  transition: all 300ms ease-in-out;
  font-size: 20px;
}
.header__search:hover {
  color: rgb(174, 118, 255);
}
@media (max-width: 600px) {
  .header__search {
    font-size: 18px;
  }
}
.header__acount {
  display: none;
  width: 30px;
}
@media (max-width: 455px) {
  .header__acount {
    display: block;
  }
}
.header__acount svg path {
  fill: #fff;
}
@media (max-width: 600px) {
  .header__btn {
    min-height: 40px;
    padding: 0 15px;
  }
}
@media (max-width: 455px) {
  .header__btn {
    display: none;
  }
}
.header__line {
  width: 1px;
  height: 40px;
  border: 1px solid rgb(46, 46, 46);
}

@media (max-width: 900px) {
  .menu__body {
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.807);
    padding-top: 70px;
    padding-bottom: 50px;
    overflow: auto;
    transition: all 300ms ease-in-out;
  }
  .menu__body._active {
    top: 0;
  }
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  -moz-column-gap: 45px;
       column-gap: 45px;
}
@media (max-width: 1350px) {
  .menu__list {
    -moz-column-gap: calc(15px + 30 * (100vw - 320px) / 1030);
         column-gap: calc(15px + 30 * (100vw - 320px) / 1030);
  }
}
@media (max-width: 900px) {
  .menu__list {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
}
.menu__item {
  list-style: none;
  position: relative;
  transition: all 300ms ease-in-out;
}
.menu__item:active {
  transform: translate(0, 2px);
}
.menu__link {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-weight: 400;
  line-height: 100%;
  transition: all 300ms ease-in-out;
}
.menu__link:hover {
  color: rgb(174, 118, 255);
}
@media (max-width: 900px) {
  .menu__link {
    font-size: 30px;
  }
}
.menu__icon {
  display: none;
}
@media (max-width: 900px) {
  .menu__icon {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
  }
  .menu__icon span {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  .menu__icon span, .menu__icon::after, .menu__icon::before {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: all 300ms ease-in-out;
  }
  .menu__icon::after, .menu__icon::before {
    content: "";
    position: absolute;
  }
  .menu__icon::before {
    top: 0;
    left: 0;
  }
  .menu__icon::after {
    bottom: 0;
    left: 0;
  }
  .menu__icon._active span {
    transform: scale(0);
  }
  .menu__icon._active::before {
    top: 9px;
    transform: rotate(45deg);
  }
  .menu__icon._active::after {
    bottom: 9px;
    transform: rotate(-45deg);
  }
}

.main-page {
  background: url("../img/back.jpg");
  background-size: contain;
}
.main-page__container {
  min-height: 100vh;
  padding-top: 150px;
  display: flex;
  align-items: center;
  -moz-column-gap: 50px;
       column-gap: 50px;
  padding-bottom: 100px;
  padding-bottom: 100px;
}
@media (max-width: 1350px) {
  .main-page__container {
    padding-bottom: calc(40px + 60 * (100vw - 320px) / 1030);
  }
}
@media (max-width: 872px) {
  .main-page__container {
    flex-direction: column;
    row-gap: 40px;
  }
}
.main-page__content {
  flex: 0 0 45%;
}
@media (max-width: 872px) {
  .main-page__content {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
  }
}
.main-page__titile {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 700;
  text-transform: capitalize;
}
@media (max-width: 470px) {
  .main-page__titile {
    font-size: 40px;
  }
}
.main-page__text {
  margin-top: 12px;
}
@media (max-width: 470px) {
  .main-page__text {
    font-size: 16px;
  }
}
.main-page__buttons {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 15px;
}
@media (max-width: 872px) {
  .main-page__buttons {
    justify-content: center;
  }
}
.main-page__btn {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.main-page__btn-revers {
  flex-direction: row-reverse;
}
.right-main-page__items {
  display: flex;
  -moz-column-gap: 25px;
       column-gap: 25px;
  row-gap: 64px;
  row-gap: 64px;
  min-height: 60vh;
  flex-direction: column;
  justify-content: space-between;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "img-top content-top content-top" "img-top exist img-bottom" "content-bottom content-bottom img-bottom";
}
@media (max-width: 1350px) {
  .right-main-page__items {
    row-gap: calc(10px + 54 * (100vw - 320px) / 1030);
  }
}
@media (max-width: 1017px) {
  .right-main-page__items {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "content-top" "content-bottom";
  }
}
@media (max-width: 872px) {
  .right-main-page__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.right-main-page__item {
  display: flex;
}
@media (max-width: 1017px) {
  .right-main-page__img {
    display: none;
  }
}
.right-main-page__img img {
  max-width: 120%;
}
.right-main-page__img-top {
  grid-area: img-top;
}
.right-main-page__img-bottom {
  grid-area: img-bottom;
}
.right-main-page__content {
  flex: 0 1 auto;
  border-radius: 20px;
  background: rgb(29, 29, 29);
  padding: 25px 30px;
}
.right-main-page__content-top {
  grid-area: content-top;
}
.right-main-page__content-bottom {
  grid-area: content-bottom;
}
@media (max-width: 872px) {
  .right-main-page__content {
    max-width: 500px;
  }
}
.right-main-page__name {
  color: rgb(174, 118, 255);
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  text-transform: capitalize;
}
.right-main-page__subtitle {
  margin-top: 10px;
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-weight: 500;
  line-height: 150%;
  text-transform: capitalize;
}
.right-main-page__action {
  margin-top: 39px;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 171.4285714286%;
  text-transform: capitalize;
  -moz-column-gap: 10px;
       column-gap: 10px;
  transition: all 300ms ease-in-out;
}
.right-main-page__action::before {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  padding: 13px 13px 13px 15px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}
.right-main-page__action:hover {
  color: rgb(174, 118, 255);
}
.right-main-page__action:hover::before {
  background-color: rgb(174, 118, 255);
}
@media (max-width: 470px) {
  .right-main-page__action {
    margin-top: 20px;
  }
}
.right-main-page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.right-main-page__icons img {
  max-width: 100%;
}
@media (max-width: 420px) {
  .right-main-page__icons {
    display: none;
  }
}
.right-main-page__title {
  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 133.3333333333%;
  text-transform: capitalize;
}
@media (max-width: 470px) {
  .right-main-page__title {
    font-size: 15px;
  }
}
.right-main-page__open {
  padding: 0 15px;
  min-height: 37px;
}
.right-main-page__open::before {
  transform: rotate(-45deg);
}
.right-main-page__text {
  color: rgb(211, 211, 211);
  font-weight: 300;
  line-height: 175%;
  margin-top: 17px;
}
@media (max-width: 470px) {
  .right-main-page__text {
    font-size: 15px;
  }
}