section.about
  .about__container
    .about__titles
      .about__title.title What Our Users Say About Us?
      .about__subtitle.text
        | In each episode, we highlight and amplify the feedback, testimonials, and stories shared by the users themselves, providing an authentic and engaging perspective on the value and impact of the offering.
    .about__content
      .about__img
        img(src='img/about/img.png' alt='img')
      .about__slider.swiper-container
        .about__wrapper.swiper-wrapper
          .about__slide.swiper-slide
            .about__stars
              span._icon-star
              span._icon-star
              span._icon-star
              span._icon-star
              span._icon-star
            .about__text.text
              | The podcast features a diverse range of users who have had firsthand experiences with the product or service. These users share their honest opinions, insights, and personal anecdotes, shedding light on how the offering has positively influenced their lives, solved their problems, or provided unique benefits.
            .about__info
              .about__per
                img(src='img/about/img-2.png' alt='img')
              .about__pers-info
                .about__name Jesica Martion
                .about__country USA
          .about__slide.swiper-slide
            .about__stars
              span._icon-star
              span._icon-star
              span._icon-star
              span._icon-star
              span._icon-star
            .about__text.text
               | The podcast features a diverse range of users who have had firsthand experiences with the product or service. These users share their honest opinions, insights, and personal anecdotes, shedding light on how the offering has positively influenced their lives, solved their problems, or provided unique benefits.
            .about__info
              .about__per
                img(src='img/shows/img-1.jpg' alt='img')
              .about__pers-info
                .about__name Jesica Martion
                .about__country USA
          .about__slide.swiper-slide
            .about__stars
              span._icon-star
              span._icon-star
              span._icon-star
              span._icon-star
              span._icon-star
            .about__text.text
               | The podcast features a diverse range of users who have had firsthand experiences with the product or service. These users share their honest opinions, insights, and personal anecdotes, shedding light on how the offering has positively influenced their lives, solved their problems, or provided unique benefits.
            .about__info
              .about__per
                img(src='img/shows/img-1.jpg' alt='img')
              .about__pers-info
                .about__name Jesica Martion
                .about__country USA
          .about__slide.swiper-slide
            .about__stars
              span._icon-star
              span._icon-star
              span._icon-star
              span._icon-star
              span._icon-star
            .about__text.text
               | The podcast features a diverse range of users who have had firsthand experiences with the product or service. These users share their honest opinions, insights, and personal anecdotes, shedding light on how the offering has positively influenced their lives, solved their problems, or provided unique benefits.
            .about__info
              .about__per
                img(src='img/shows/img-1.jpg' alt='img')
              .about__pers-info
                .about__name Jesica Martion
                .about__country USA
          .about__slide.swiper-slide
            .about__stars
              span._icon-star
              span._icon-star
              span._icon-star
              span._icon-star
              span._icon-star
            .about__text.text
              | The podcast features a diverse range of users who have had firsthand experiences with the product or service. These users share their honest opinions, insights, and personal anecdotes, shedding light on how the offering has positively influenced their lives, solved their problems, or provided unique benefits.
            .about__info
              .about__per
                img(src='img/shows/img-1.jpg' alt='img')
              .about__pers-info
                .about__name Jesica Martion
                .about__country USA
        .about__navigation
          .about__prev._icon-arrow
          .about__next._icon-arrow
