section.categories
  .categories__title Popular Categories
  .categories__slider.swiper-container
    .categories__wrapper.swiper-wrapper
      .categories__slide.swiper-slide
        a.categories__link._icon-arrow(href='#') Photography
      .categories__slide.swiper-slide
        a.categories__link._icon-arrow(href='#') Business
      .categories__slide.swiper-slide
        a.categories__link._icon-arrow(href='#') Health
      .categories__slide.swiper-slide
        a.categories__link._icon-arrow(href='#') Sports
      .categories__slide.swiper-slide
        a.categories__link._icon-arrow(href='#') Travel
