section.difference
  .difference__container
    .difference__img
      img(src='img/difference/img.jpg' alt='img')
    .difference__content
      .difference__title.title what distinguishes ourselves from others?
      .difference__text.text
        | Out competitors are wasting resources become to be inspired is to become creative.
      ul.difference__list
        li Record your episodes at any occasions
        li Have a discussion with people you like
        li Let other people know about your thoughts
      .difference__podcast
        .difference__avatar
          img(src='img/difference/avatar.png' alt='img')
        .difference__info
          .difference__name Leesa micov Leesa micov
          .difference__professional Podcaster
        .difference__waves
        a.difference__play._icon-play(href='#')
