section.popular
  .popular__container
    .popular__header
      .popular__titles
        .popular__title.title Latest Popular Podcast
        .popular__text.text
          | Discovers the most recent top-podcaster stories from across the world, as well as verified tech creators.
      a.popular__btn.btn(href='#') View All
    .popular__content
      .popular__items
        .popular__item.item-popular
          .item-popular__content
            .item-popular__img
              img(src='img/popular/img-1.jpg' alt='img')
              a._icon-play(href='#')
            .item-popular__name Comedy and Entertainment
            .item-popular__text.text
              | Enjoy hilarious conversations, stand-up comedy, and discussions about movies,...
          .item-popular__actions
            a.item-popular__link.item-popular_listening._icon-headphones.text(href='#') 1.5K
            a.item-popular__link.item-popular_fav._icon-fav.text(href='#') 875
            a.item-popular__link.item-popular_comment._icon-comment.text(href='#') 752
        .popular__item.item-popular
          .item-popular__content
            .item-popular__img
              img(src='img/popular/img-2.jpg' alt='img')
              a._icon-play(href='#')
            .item-popular__name Comedy and Entertainment
            .item-popular__text.text
              | Enjoy hilarious conversations, stand-up comedy, and discussions about movies,...
          .item-popular__actions
            a.item-popular__link.item-popular_listening._icon-headphones.text(href='#') 1.5K
            a.item-popular__link.item-popular_fav._icon-fav.text(href='#') 875
            a.item-popular__link.item-popular_comment._icon-comment.text(href='#') 752
        .popular__item.item-popular
          .item-popular__content
            .item-popular__img
              img(src='img/popular/img-1.jpg' alt='img')
              a._icon-play(href='#')
            .item-popular__name Comedy and Entertainment
            .item-popular__text.text
              | Enjoy hilarious conversations, stand-up comedy, and discussions about movies,...
          .item-popular__actions
            a.item-popular__link.item-popular_listening._icon-headphones.text(href='#') 1.5K
            a.item-popular__link.item-popular_fav._icon-fav.text(href='#') 875
            a.item-popular__link.item-popular_comment._icon-comment.text(href='#') 752
        .popular__item.item-popular
          .item-popular__content
            .item-popular__img
              img(src='img/popular/img-2.jpg' alt='img')
              a._icon-play(href='#')
            .item-popular__name Comedy and Entertainment
            .item-popular__text.text
              | Enjoy hilarious conversations, stand-up comedy, and discussions about movies,...
          .item-popular__actions
            a.item-popular__link.item-popular_listening._icon-headphones.text(href='#') 1.5K
            a.item-popular__link.item-popular_fav._icon-fav.text(href='#') 875
            a.item-popular__link.item-popular_comment._icon-comment.text(href='#') 752
