section.shows
  .shows__container.swiper-container
    .shows__titles
      .shows__title.title Featured Shows
      .shows__text.text
        | Discovers the most recent top-podcaster stories from across the world, as well as verified tech creators.
    .shows__items.swiper-wrapper
      .shows__item.item-show.swiper-slide
        .item-show__img
          img(src='img/shows/img-1.jpg' alt='img')
        .item-show__content
          .item-show__text.text
            | Join us as we explore the latest trends, iconic styles, industry news, and insider insights from the ever-evolving realm of fashion.
          .item-show__episodes
            .item-show__episode
              a.item-show__play._icon-play(href='#')
              .item-show__titles
                a.item-show__num-episode(href='#') Episode 1
                a.item-show__name(href='#') Easy Strategies to Help
            .item-show__episode
              a.item-show__play._icon-play(href='#')
              .item-show__titles
                a.item-show__num-episode(href='#') Episode 1
                a.item-show__name(href='#') Easy Strategies to Help
            .item-show__episode
              a.item-show__play._icon-play(href='#')
              .item-show__titles
                a.item-show__num-episode(href='#') Episode 1
                a.item-show__name(href='#') Easy Strategies to Help
        a.item-show__btn.btn(href='#') Browse All
      .shows__item.item-show.swiper-slide
        .item-show__img
          img(src='img/shows/img-2.jpg' alt='img')
        .item-show__content
          .item-show__text.text
            | Join us as we explore the latest trends, iconic styles, industry news, and insider insights from the ever-evolving realm of fashion.
          .item-show__episodes
            .item-show__episode
              a.item-show__play._icon-play(href='#')
              .item-show__titles
                a.item-show__num-episode(href='#') Episode 1
                a.item-show__name(href='#') Easy Strategies to Help
            .item-show__episode
              a.item-show__play._icon-play(href='#')
              .item-show__titles
                a.item-show__num-episode(href='#') Episode 1
                a.item-show__name(href='#') Easy Strategies to Help
            .item-show__episode
              a.item-show__play._icon-play(href='#')
              .item-show__titles
                a.item-show__num-episode(href='#') Episode 1
                a.item-show__name(href='#') Easy Strategies to Help
        a.item-show__btn.btn(href='#') Browse All
      .shows__item.item-show.swiper-slide
        .item-show__img
          img(src='img/shows/img-1.jpg' alt='img')
        .item-show__content
          .item-show__text.text
            | Join us as we explore the latest trends, iconic styles, industry news, and insider insights from the ever-evolving realm of fashion.
          .item-show__episodes
            .item-show__episode
              a.item-show__play._icon-play(href='#')
              .item-show__titles
                a.item-show__num-episode(href='#') Episode 1
                a.item-show__name(href='#') Easy Strategies to Help
            .item-show__episode
              a.item-show__play._icon-play(href='#')
              .item-show__titles
                a.item-show__num-episode(href='#') Episode 1
                a.item-show__name(href='#') Easy Strategies to Help
            .item-show__episode
              a.item-show__play._icon-play(href='#')
              .item-show__titles
                a.item-show__num-episode(href='#') Episode 1
                a.item-show__name(href='#') Easy Strategies to Help
        a.item-show__btn.btn(href='#') Browse All
