section.subscribe
  .subscribe__container
    .subscribe__body
      .subscribe__images
        img(src='img/subscribe/img-1.png' alt='img')
      .subscribe__content
        .subscribe__title.title-white.title Get Subscribed!
        .subscribe__text.text
          | Subscribing to a newsletter is a great way to stay informed about the latest episodes & updates.
        form.subscribe__form(action='#')
          .subscribe__input
            input(placeholder='Enter Your Email Adress' type='email')
          button.subscribe__btn._icon-arrow
      .subscribe__images
        img(src='img/subscribe/img-2.png' alt='img')
