section.top
  .top__container
    .top__header
      .top__title.title Top podcaster
      a.top__btn.btn(href='#') See All
    .top__items
      .top__item.item-top
        img(src='img/top/img-1.png' alt='img')
        .item-top__body
          .item-top__content
            .item-top__info
              .item-top__name Stepe Curren
              .item-top__score Remance - 105 Podcast
            .item-top__social
              a.item-top__link._icon-facebook(href='#')
              a.item-top__link._icon-twiter(href='#')
              a.item-top__link._icon-inst(href='#')
      .top__item.item-top
        img(src='img/top/img-2.png' alt='img')
        .item-top__body
          .item-top__content
            .item-top__info
              .item-top__name Stepe Curren
              .item-top__score Remance - 105 Podcast
            .item-top__social
              a.item-top__link._icon-facebook(href='#')
              a.item-top__link._icon-twiter(href='#')
              a.item-top__link._icon-inst(href='#')
      .top__item.item-top
        img(src='img/top/img-3.png' alt='img')
        .item-top__body
          .item-top__content
            .item-top__info
              .item-top__name Stepe Curren
              .item-top__score Remance - 105 Podcast
            .item-top__social
              a.item-top__link._icon-facebook(href='#')
              a.item-top__link._icon-twiter(href='#')
              a.item-top__link._icon-inst(href='#')
