body{
    font-family: $font-family;
    position: relative;
    &._lock{
        overflow: hidden;
    }
}
[class*="__container"]{
    max-width: $container-width + $main-offset*2;
    padding: 0 $main-offset;
    margin: 0 auto;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
	overflow: hidden;
}
.btn{
	color: $purple-color;
	border: 1px solid $purple-color;
	font-weight: 500;
	line-height:prc(16, 19);
	text-transform: capitalize;
	background-color: inherit;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	padding: 0 30px;
	border-radius: 10px;
	transition: $default-trans;
	&:hover{
		background-color: rgb(174, 118, 255);
		color: rgb(255, 255, 255);
	}
	&:active{
		transform: translate(0, 2px);
	}
	@media (max-width:640px) {
		white-space: normal;
	}
}

.title {
	color: rgb(0, 0, 0);
	font-family: $font-family-second;
	font-size: 42px;
	font-weight: 700;
	text-transform: capitalize;
	line-height: 120%;
}


.text {
	color: rgb(85, 85, 85);
	font-family: Rubik;
	font-size: 16px;
	font-weight: 300;
	line-height: prc(28, 16);
}