%ic{
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class*="_icon-"]{
  &:before{
    @extend %ic;
    display: block;
  }
}

._icon-arrow:before {
	content: "\e900";
 }
 ._icon-comment:before {
	content: "\e901";
 }
 ._icon-facebook:before {
	content: "\e902";
 }
 ._icon-fav:before {
	content: "\e903";
 }
 ._icon-headphones:before {
	content: "\e904";
 }
 ._icon-inst:before {
	content: "\e905";
 }
 ._icon-logo:before {
	content: "\e906";
 }
 ._icon-map:before {
	content: "\e907";
 }
 ._icon-ok:before {
	content: "\e908";
 }
 ._icon-play:before {
	content: "\e909";
 }
 ._icon-search:before {
	content: "\e90a";
 }
 ._icon-star:before {
	content: "\e90b";
 }
 ._icon-twiter:before {
	content: "\e90c";
 }
 ._icon-youtube:before {
	content: "\e90d";
 }
 