footer.footer
  .footer__container
    .footer__logo._icon-logo PodCloud
    .footer__content
      .footer__title
        | We collaborate with ambitious brands and people; let’s build something great together.
      .footer__items
        .footer__item.item-footer
          .item-footer__title Start a Conversation:
          .item-footer__text.text
            a(href='mailto:podcloud@xyz.com') podcloud@xyz.com
            a(href='tel:+1234567890') +1 123 456 7890
          .item-footer__subtitle Privacy Policy
        .footer__item.item-footer
          .item-footer__title Find us here:
          address.item-footer__text.text
            span 115 Cedar Rapids,
            span IA 52404, United States
          .item-footer__subtitle Term & Conditions
        .footer__item.item-footer
          .item-footer__title Follow On:
          .item-footer__social
            a._icon-facebook(href='#')
            a._icon-twiter(href='#')
            a._icon-inst(href='#')
            a._icon-youtube(href='#')
          .item-footer__subtitle © 2023 Copyright PodCloud
