section.main-page
  .main-page__container
    .main-page__content
      h1.main-page__titile Find And Listen In Your Favorite Podcast!
      .main-page__text.text
        | "Find And Listen In Your Favorite Podcast!" is a podcast dedicated to helping listeners discover and enjoy their favorite podcasts. The team behind this podcast consists of passionate podcast enthusiasts.
      .main-page__buttons
        a.main-page__btn.main-page__btn-revers.btn._icon-arrow(href='#') Start Listening
        a.main-page__btn.btn._icon-map(href='#') Explore Channels
    .main-page__right.right-main-page
      .right-main-page__items
        .right-main-page__img.right-main-page__img-top
          img(src='img/main-page/bg-1.png' alt='img')
        .right-main-page__content.right-main-page__content-top
          .right-main-page__name Tom Current
          .right-main-page__subtitle
            | Enjoy hilarious conversations, stand-up comedy, and discussions about movies, TV shows, and popular culture.
          a.right-main-page__action._icon-play(href='#') PLAY NOW
        .right-main-page__content.right-main-page__content-bottom
          .right-main-page__header
            .right-main-page__icons
              img(src='img/main-page/icons.png' alt='img')
            .right-main-page__title Our Podcast Team Members
            .right-main-page__open.btn._icon-arrow
          .right-main-page__text
            | Producers oversee the technical aspects of the podcast production.
        .right-main-page__img.right-main-page__img-bottom
          img(src='img/main-page/bg-2.png' alt='img')
