.categories {
	@include adaptive-value('padding-top', 120, 60);
	&__title{
		color: rgb(0, 0, 0);
		font-family: $font-family-second;
		font-size: 28px;
		font-weight: 700;
		text-transform: capitalize;
		text-align: center;
		display: flex;
		justify-content: center;
		padding: 0 20px 20px 20px;
		align-items: center;
		column-gap: 5px;
		@media (max-width:600px) {
			font-size: 20px;
		}
		&::before{
			flex: 0 0 auto;
			content: '';
			width: 34px;
			height: 28px;
			display: block;
			background: url('../img/categories/waves.png');
			background-size: contain;
			background-repeat: no-repeat;
		}
		&::after{
			flex: 0 0 auto;
			content: '';
			width: 34px;
			height: 28px;
			display: block;
			background: url('../img/categories/waves.png');
			background-size: contain;
			background-repeat: no-repeat;
		}
	}	

	&__slider {
		background-color: $purple-color;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			width: 110%;
			left: -10px;
			height: 150px;
			background: url('../img/back.jpg');
			transform: rotate(-2deg);
			@media (max-width: 450px) {
				height: 100px;	
			}
		}
		.swiper-slide{
			width: auto;
		}
	}

	&__wrapper {
		display: flex;
		min-height: 150px;
		align-items: center;
		@media (max-width: 450px) {
			min-height: 100px;	
		}
	}

	&__slide {
		margin-right: 230px;
		@media (max-width:1000px) {
			margin-right: 130px;
		}
		@media (max-width:600px) {
			margin-right: 70px;
		}
	}

	&__link {
		color: rgba(255, 255, 255, 0.2);
		font-family: $font-family-second;
		font-size: 42px;
		font-weight: 700;
		text-transform: capitalize;
		cursor: pointer;
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		position: relative;
		transition: $default-trans;
		&::before{
			font-size: 25px;
			transform: rotate(-45deg);
			opacity: 0;
			margin-bottom: -30px;
			transition: $default-trans;
		}
		&::after{
			content: '';
			width: 0%;
			height: 3px;
			background-color: #fff;
			position: absolute;
			bottom: -3px;
			left: 0;
			transition: $default-trans;
		}
		&:hover{
			color: #fff;
			&::before{
				opacity: 1;
				margin-bottom: 0;
				color: #fff;
			}
			&::after{
				width: 100%;
			}
		}
		@media (max-width:600px) {
			font-size: 30px;
		}
	}
	
}