.top {

	&__container {
		@include adaptive-value('padding-top', 120, 60);
		@include adaptive-value('padding-bottom', 120, 40);
	}

	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 25px;
		row-gap: 20px;
		margin-bottom: 40px;
		flex-wrap: wrap;
		@include adaptive-value('margin-bottom', 40, 20);
		@media (max-width:640px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__title {
		@media (max-width:470px) {
			font-size: 34px;
		}

		@media (max-width: 340px) {
			font-size: 28px;
		}
	}

	&__btn {

	}

	&__items {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		row-gap: 25px;
		@media (max-width: 832px) {
			justify-content: center;
			column-gap: 25px;
		}
	}

	&__item {
		flex: 0 1 32%;
		img{
			max-width: 100%;
			height: auto;
		}
		@media (max-width: 832px) {
			flex: 0 1 40%;
		}
		@media (max-width: 690px) {
			flex: 0 1 45%;
		}
		@media (max-width: 610px) {
			flex: 0 1 75%;
		}
		@media (max-width: 390px) {
			flex: 0 1 100%;
		}
	}
}

.item-top {
	position: relative;
	&__body {
		padding: 10px;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		display: flex;
		align-items: end;
		@media (max-width: 1020px) {
			justify-content: center;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 25px 30px;
		background-color: #fff;
		border-radius: 25px;
		column-gap: 25px;
		@media (max-width: 1020px) {
			flex-direction: column;
			row-gap: 10px;
		}
	}

	&__info {
		flex: 0 1 auto;
		@media (max-width: 1020px) {
			text-align: center;
		}
	}

	&__name {
		color: rgb(0, 0, 0);
		font-family: $font-family-second;
		font-size: 18px;
		font-weight: 500;
		margin-bottom: 9px;
	}

	&__score {
		color: rgb(126, 129, 135);
		font-weight: 300;
		line-height: prc(19, 16);
	}

	&__social {
		display: flex;
		column-gap: 10px;
		flex-wrap: wrap;
		justify-content: center;
		row-gap: 9px;
	}

	&__link {
		color: rgb(174, 118, 255);
		border-radius: 50%;
		background: rgba(174, 118, 255, 0.1);
		padding: 11px;
		transition: $default-trans;
		&:hover{
			background: rgb(174, 118, 255);
			color: #000;
		}
	}
}
